.image{
    width: 100%;
}


.carousel .carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    bottom: 50%;
    left:15%;
    right: 15%;
}