.hero-container{
    max-width: 1210px !important;
    margin: auto;
    
}

.color-hero{}
   

.h-red{
    position: absolute;
    background-color: #FF1E1E;
    width: 40%;
    height:300px;
    z-index:3;
    filter: blur(80px);
    
}







.h-yellow{
    position: absolute;
    background-color: #FFDA78;
    width: 40%;
    height: 300px;
    z-index: 2;
    top: 35%;
    left: 10%;
    filter: blur(80px);
    
}

.h-blue{
    position: absolute;
    background-color: #96C9F4;
    width: 40%;
    height: 300px;
    z-index: 1;
    top: 35%;
    bottom: 50%;
    left: 50%;
    filter: blur(80px);
    
}

@media (min-width: 0px) {
    .h-red{
        width: 40%;
        height: 300px;
        transform: translate(-50%);
        left: 50%;
        top: 22%;
        right: 50%;
        filter: blur(80px);
    }
}

@media (min-width: 768px) {
    .h-red{
        width: 30%;
        height: 300px;
        transform: translate(-50%);
        left: 70%;
        top: 15%;
        filter: blur(80px);
        
    }

    .h-yellow{
        width: 30%;
        height: 300px;
        left: 50%;
        top: 30%;
        filter: blur(80px);
    }

    .h-blue{
        width: 30%;
        height: 300px;
        left: 65%;
        top: 30%;
        z-index: 4;
        filter: blur(80px);
    }
    
}





























