.hero-container{
    max-width: 1210px !important;
    margin: auto;
}

.hero-color{
    position: absolute;
    z-index: -1;
}

.h-red{
    position: absolute;
    background-color: #FF0000;
    width: 300px;
    height: 300px;
    background-radius: 50%;
    left:150px;
    z-index: 1;
    

}

.h-yellow{
    position: absolute;
    background-color: #FFDB00;
    background-radius: 100%;
    width: 300px;
    height: 300px;
    top:200px;
    z-index: 2;
}

.h-blue{
    position: absolute;
    background-color: #4C3BCF;
    background-radius: 100%;
    width: 300px;
    height: 300px;
    top:200px;
    left:300px;
    z-index: 1;


}