.working-container{
    max-width: 1210px !important;
    margin: auto;
}

.w-yellow{
    position: absolute;
    background-color: #FFDA78;
    width: 40%;
    height: 300px;
    z-index: 0;
    top: 50px;
    
    
    
    filter: blur(100px)
    
}

.w-red{
    position: absolute;
    background-color: #FF1E1E;
    width: 40%;
    height: 300px;
    z-index: 1;
    left: 10%;
    top: 50px;
    
    filter: blur(100px)
}

.w-purple{
    position: absolute;
    background-color: #890596;
    width: 40%;
    height: 300px;
    z-index: 2;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    filter: blur(100px)
}

.w-blue{
    position: absolute;
    background-color: #1CC5DC;
    width: 40%;
    height: 300px;
    z-index: 3;
    top: 150px;
    left: 80%;
    transform: translate(-50%);
    filter: blur(100px)
}

.box1{
    
}



















@media (min-width: 768px) {
    .w-yellow{
        position: absolute;
        left: 20%;

        
        
        z-index:0;
        
    }
    .w-red{
        position: absolute;
        left: 50%;
        top: 100px;
        z-index: 1;

        
        
    }
    .w-purple{
        position: absolute;
        left: 30%;
        z-index: 2;
        
        top: 200px;
       
    }
    .w-blue{
        position: absolute;
        
        top: 250px;
        left: 60%;
        
    }
}