



.dialog-logo{
    width: 80px;;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    flex-direction: space-around;
}

.reload{
    background-color: #DDDDDD;
    padding: 3px 10px;
    border-radius: 50px;
}

.cart{
    
    padding: 5px;
    border-radius: 50px;
    border: 2px solid #DDDDDD;
    
    
}

.search{
    padding: 5px;
    border-radius: 50px;
    background-color: black;
    color: #DDDDDD;

}